/*  this is universal designs */
body{
    margin: 0;
    height: 100%;
    width: 100%;
}

#header{
    display: flex;
    height: 125px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(204, 204, 204);
    position: sticky;
}

#header #songPageBTN{
    border: none;
    width: 100%;
    height: inherit;
    background-color: rgb(172, 254, 254);
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bold;
}

 #header #playlistPageBTN{
    border: none;
    width: 100%;
    height: inherit;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(172, 254, 254);
    font-size: x-large;
    font-weight: bold;
}

#songPageBTN:hover{
    background-color: rgb(192, 254, 254) !important;
}

#songPageBTN.active{
    background-color: rgb(146, 215, 215) !important;
    border: 5px solid black !important;
}

#playlistPageBTN:hover{
    background-color: rgb(192, 254, 254) !important;
}

#playlistPageBTN.active{
    background-color: rgb(146, 215, 215) !important;
    border: 5px solid black !important;
}

#playlistLib-body, #songLib-body{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#search-div{
    width: 100%;
    display: flex;
}

#search-bar{
    width: 100%;
    height: 40px;
    font-size: 25px;
    text-align: center;
    margin-inline: 10px;
}

#searchBTN{
    border: none;
    background-color: rgb(40, 158, 255);
    color:white;
    margin-right: 10px;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 10%;
}

#searchBTN:hover{
    background-color: rgb(77, 175, 255);
}

.optionBTN{
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: inherit;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.optionBTN:hover{
    background-color: rgb(199, 199, 199);
}


.hidden{
    display: none !important;
}

/* this is song library designs */

.song-div{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: aliceblue;
    justify-content: space-between;
    border-bottom: 1px gray solid;
}

.song-div .left{
    display: flex;
    width: fit-content;
    align-items: center;
}

.song-div img{
    width:200px;
    background-color: brown;
    height: 100%;
    display: flex;
}

.songInfo{
    height: 100%;
    margin-left: 5px;
    font-size: 20px; 
}


.song-div .right{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10px;
    align-items: end;
}


/* this is playlist library designs */

.playlist-container{
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: row;
    background-color: aliceblue;
    justify-content: space-between;
    border-bottom: 1px gray solid;
}

.playlist-container .left{
    display: flex;
    width: fit-content;
}

.playlist-container .left img{
    height: 100%;
    width: 200px;
    background-color: brown;
}

.playlist-info{
    height: 100%;
    margin-left: 5px;
    font-size: 20px;   
}

.playlist-info p{
    margin: 10px 0 0 0;
}

.playlist-info .playlist-description{
    font-size: 15px;
}

.playlist-container .right{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 10px;
    text-align: right;
    margin-right: 10px;
}