node_modules/
SongFolder/*
!SongFolder/.gitkeep

SongImage/*
!SongImage/song-place-holder.webp
!SongImage/temp

PlaylistImage/*
!PlaylistImage/playlist-img-placeholder.webp
!PlaylistImage/temp

backend/database/testDB.db
